.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  margin: 60px 0px;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #6e331d;
}

.image{
  width: 60%;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .title{
    margin: 45px 0px;
    font-size: 2.75rem;
  }

  .image{
    width: 85%;
  }
}

@media screen and (max-width: 480px) {
  .title{
    font-size: 2.5rem;
  }

  .image{
    width: 100vw;
  }
}