.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}

.texts{
  font-size: 1.75rem;
  width: 60%;
  margin-top: 7.5px;
  color: #6e331d;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .texts{
    font-size: 1.5rem;
    width: 85%;
  }
}

@media screen and (max-width: 480px) {
  .main{
    padding: 0px 15px;
  }

  .texts{
    width: 100%;
    font-size: 1.25rem;
    margin-top: 5px;
  }
}