.navbar{
  background-color: #5f1002;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.navbar__banner{
  width: 100%;
}

.navbar__links{
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar__link{
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar__link:hover{
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .navbar__link{
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 480px) {
  .navbar__links{
    padding: 10px 0px;
    height: 64px;
    flex-wrap: wrap;
  }

  .navbar__link{
    margin: 0px 10px;
    font-size: 1.25rem;
  }
}